In [2]:
import pandas as pd
import numpy as np

In [3]:
##series dataframe
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [4]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [5]:
d = pd.date_range('20200301',periods=10)

In [6]:
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [7]:
#Creating data Frame
df = pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])

In [8]:
df

                   A         B         C         D
2020-03-01 -1.070784  0.109760 -0.790121  0.202089
2020-03-02 -0.770644  1.463893  0.850709 -2.290959
2020-03-03 -0.998085 -0.157135  0.099309 -1.949805
2020-03-04 -0.345791  0.763163 -0.052268 -0.031637
2020-03-05 -0.830381  1.222556 -0.435222  0.501201
2020-03-06 -1.696575 -1.416397 -0.251425 -0.927159
2020-03-07  0.244252 -1.167324 -0.182712 -1.047321
2020-03-08  0.268892 -1.619663 -0.363277  1.735454
2020-03-09  1.177939  0.579130 -0.337970 -0.534269
2020-03-10 -2.262863 -0.840955  0.230598  1.250168

In [9]:
#Getting Few number rows
df.loc['20200301':'20200306',['D','C']]

                   D         C
2020-03-01  0.202089 -0.790121
2020-03-02 -2.290959  0.850709
2020-03-03 -1.949805  0.099309
2020-03-04 -0.031637 -0.052268
2020-03-05  0.501201 -0.435222
2020-03-06 -0.927159 -0.251425

In [10]:
#Exact value
df.at[d[0],'C']

np.float64(-0.7901212181458527)

In [11]:
df.iloc[3:5,0:2]

                   A         B
2020-03-04 -0.345791  0.763163
2020-03-05 -0.830381  1.222556

In [12]:
df[df['A']>0]

                   A         B         C         D
2020-03-07  0.244252 -1.167324 -0.182712 -1.047321
2020-03-08  0.268892 -1.619663 -0.363277  1.735454
2020-03-09  1.177939  0.579130 -0.337970 -0.534269

In [13]:
#Handling missing value
#1.Reindexind
df2=df.reindex(index=d[0:4], columns=list(df.columns)+ ['E'])

In [14]:
df2

                   A         B         C         D   E
2020-03-01 -1.070784  0.109760 -0.790121  0.202089 NaN
2020-03-02 -0.770644  1.463893  0.850709 -2.290959 NaN
2020-03-03 -0.998085 -0.157135  0.099309 -1.949805 NaN
2020-03-04 -0.345791  0.763163 -0.052268 -0.031637 NaN

In [15]:
df2.loc[d[0]:d[1], 'E']=1

In [16]:
df2

                   A         B         C         D    E
2020-03-01 -1.070784  0.109760 -0.790121  0.202089  1.0
2020-03-02 -0.770644  1.463893  0.850709 -2.290959  1.0
2020-03-03 -0.998085 -0.157135  0.099309 -1.949805  NaN
2020-03-04 -0.345791  0.763163 -0.052268 -0.031637  NaN

In [17]:
#Check null value
df2.isnull()

                A      B      C      D      E
2020-03-01  False  False  False  False  False
2020-03-02  False  False  False  False  False
2020-03-03  False  False  False  False   True
2020-03-04  False  False  False  False   True

In [18]:
#Drop null value
df2.dropna()

                   A         B         C         D    E
2020-03-01 -1.070784  0.109760 -0.790121  0.202089  1.0
2020-03-02 -0.770644  1.463893  0.850709 -2.290959  1.0

In [19]:
df2.fillna(value=2)

                   A         B         C         D    E
2020-03-01 -1.070784  0.109760 -0.790121  0.202089  1.0
2020-03-02 -0.770644  1.463893  0.850709 -2.290959  1.0
2020-03-03 -0.998085 -0.157135  0.099309 -1.949805  2.0
2020-03-04 -0.345791  0.763163 -0.052268 -0.031637  2.0

In [20]:
#Pandas Operation 
#1.Descriptive Statistic Operations(Mean)
#2.Applying Function To The Data 
#3.String Processing Operation
#4.Histogramming

In [21]:
#1.Mean values
df.mean(1)

2020-03-01   -0.387264
2020-03-02   -0.186750
2020-03-03   -0.751429
2020-03-04    0.083367
2020-03-05    0.114539
2020-03-06   -1.072889
2020-03-07   -0.538276
2020-03-08    0.005352
2020-03-09    0.221207
2020-03-10   -0.405763
Freq: D, dtype: float64

In [22]:
s = pd.Series([1,2,3,np.nan,4,5,6,7,8,9],index=d).shift(2)

In [23]:
s

2020-03-01    NaN
2020-03-02    NaN
2020-03-03    1.0
2020-03-04    2.0
2020-03-05    3.0
2020-03-06    NaN
2020-03-07    4.0
2020-03-08    5.0
2020-03-09    6.0
2020-03-10    7.0
Freq: D, dtype: float64

In [24]:
df.sub(s,axis='index')

                   A         B         C         D
2020-03-01       NaN       NaN       NaN       NaN
2020-03-02       NaN       NaN       NaN       NaN
2020-03-03 -1.998085 -1.157135 -0.900691 -2.949805
2020-03-04 -2.345791 -1.236837 -2.052268 -2.031637
2020-03-05 -3.830381 -1.777444 -3.435222 -2.498799
2020-03-06       NaN       NaN       NaN       NaN
2020-03-07 -3.755748 -5.167324 -4.182712 -5.047321
2020-03-08 -4.731108 -6.619663 -5.363277 -3.264546
2020-03-09 -4.822061 -5.420870 -6.337970 -6.534269
2020-03-10 -9.262863 -7.840955 -6.769402 -5.749832

In [25]:
#   Apply Function
#Cumsum will fill
df.apply(np.cumsum)

                   A         B         C         D
2020-03-01 -1.070784  0.109760 -0.790121  0.202089
2020-03-02 -1.841427  1.573653  0.060588 -2.088870
2020-03-03 -2.839512  1.416517  0.159897 -4.038675
2020-03-04 -3.185303  2.179681  0.107629 -4.070311
2020-03-05 -4.015684  3.402237 -0.327592 -3.569110
2020-03-06 -5.712259  1.985839 -0.579017 -4.496269
2020-03-07 -5.468007  0.818515 -0.761729 -5.543590
2020-03-08 -5.199115 -0.801148 -1.125006 -3.808135
2020-03-09 -4.021176 -0.222018 -1.462976 -4.342404
2020-03-10 -6.284038 -1.062973 -1.232378 -3.092236

In [26]:
#Lambda
df.apply(lambda x: x.max()-x.min())

A    3.440802
B    3.083556
C    1.640831
D    4.026413
dtype: float64

In [27]:
s.value_counts()

1.0    1
2.0    1
3.0    1
4.0    1
5.0    1
6.0    1
7.0    1
Name: count, dtype: int64

In [28]:
s =pd.Series(['edureka','python','jupyter',np.nan,'football','world'])

In [29]:
s

0     edureka
1      python
2     jupyter
3         NaN
4    football
5       world
dtype: object

In [30]:
s.str.lower()

0     edureka
1      python
2     jupyter
3         NaN
4    football
5       world
dtype: object

In [31]:
s.str.upper()

0     EDUREKA
1      PYTHON
2     JUPYTER
3         NaN
4    FOOTBALL
5       WORLD
dtype: object

In [32]:
df = pd.DataFrame(np.random.randn(10,4))

In [33]:
df

          0         1         2         3
0  1.065255  1.343100 -0.181969  0.701368
1 -0.345663  1.399529  1.006689 -0.771176
2  0.886187  0.273642 -0.126028  0.291520
3 -0.050638  1.298270  1.153766  1.583044
4 -0.801081 -1.100854  0.721577 -1.413573
5  0.103387  0.726518 -1.213924 -0.050570
6 -0.111342 -0.408665 -0.135859  1.419113
7 -0.872305  1.549964  2.262707 -0.357467
8 -1.039509 -0.783419 -0.047669  0.955208
9 -1.611592  1.439515 -0.113024  0.381924

In [34]:
df2 = [df[:3],df[3:7],df[7:]]

In [35]:
df2

[          0         1         2         3
 0  1.065255  1.343100 -0.181969  0.701368
 1 -0.345663  1.399529  1.006689 -0.771176
 2  0.886187  0.273642 -0.126028  0.291520,
           0         1         2         3
 3 -0.050638  1.298270  1.153766  1.583044
 4 -0.801081 -1.100854  0.721577 -1.413573
 5  0.103387  0.726518 -1.213924 -0.050570
 6 -0.111342 -0.408665 -0.135859  1.419113,
           0         1         2         3
 7 -0.872305  1.549964  2.262707 -0.357467
 8 -1.039509 -0.783419 -0.047669  0.955208
 9 -1.611592  1.439515 -0.113024  0.381924]

In [36]:
#Concatination
pd.concat(df2)

          0         1         2         3
0  1.065255  1.343100 -0.181969  0.701368
1 -0.345663  1.399529  1.006689 -0.771176
2  0.886187  0.273642 -0.126028  0.291520
3 -0.050638  1.298270  1.153766  1.583044
4 -0.801081 -1.100854  0.721577 -1.413573
5  0.103387  0.726518 -1.213924 -0.050570
6 -0.111342 -0.408665 -0.135859  1.419113
7 -0.872305  1.549964  2.262707 -0.357467
8 -1.039509 -0.783419 -0.047669  0.955208
9 -1.611592  1.439515 -0.113024  0.381924

In [37]:
#Join Function
left = pd.DataFrame({'A':[1,2],'B':[3,4]})

In [38]:
right = pd.DataFrame({'C':[3,2],'D':[4,5]})

In [39]:
left

   A  B
0  1  3
1  2  4

In [40]:
right

   C  D
0  3  4
1  2  5

In [41]:
#Grouping Data Structure
df

          0         1         2         3
0  1.065255  1.343100 -0.181969  0.701368
1 -0.345663  1.399529  1.006689 -0.771176
2  0.886187  0.273642 -0.126028  0.291520
3 -0.050638  1.298270  1.153766  1.583044
4 -0.801081 -1.100854  0.721577 -1.413573
5  0.103387  0.726518 -1.213924 -0.050570
6 -0.111342 -0.408665 -0.135859  1.419113
7 -0.872305  1.549964  2.262707 -0.357467
8 -1.039509 -0.783419 -0.047669  0.955208
9 -1.611592  1.439515 -0.113024  0.381924

In [42]:
df.groupby(2).sum()

                  0         1         3
2
-1.213924  0.103387  0.726518 -0.050570
-0.181969  1.065255  1.343100  0.701368
-0.135859 -0.111342 -0.408665  1.419113
-0.126028  0.886187  0.273642  0.291520
-0.113024 -1.611592  1.439515  0.381924
-0.047669 -1.039509 -0.783419  0.955208
 0.721577 -0.801081 -1.100854 -1.413573
 1.006689 -0.345663  1.399529 -0.771176
 1.153766 -0.050638  1.298270  1.583044
 2.262707 -0.872305  1.549964 -0.357467

In [43]:
#Stack Pivot Table
my_tuple = list(zip(*[[1,2,3,4,5],[11,12,13,14,15,6,7,8,9]]))

In [44]:
index = pd.MultiIndex.from_tuples(my_tuple,names=['First','Second'])

In [45]:
index

MultiIndex([(1, 11),
            (2, 12),
            (3, 13),
            (4, 14),
            (5, 15)],
           names=['First', 'Second'])

In [46]:
df2 = df[:4]

In [47]:
df2

          0         1         2         3
0  1.065255  1.343100 -0.181969  0.701368
1 -0.345663  1.399529  1.006689 -0.771176
2  0.886187  0.273642 -0.126028  0.291520
3 -0.050638  1.298270  1.153766  1.583044

In [48]:
df2.stack()

0  0    1.065255
   1    1.343100
   2   -0.181969
   3    0.701368
1  0   -0.345663
   1    1.399529
   2    1.006689
   3   -0.771176
2  0    0.886187
   1    0.273642
   2   -0.126028
   3    0.291520
3  0   -0.050638
   1    1.298270
   2    1.153766
   3    1.583044
dtype: float64

In [49]:
df2.unstack()

0  0    1.065255
   1   -0.345663
   2    0.886187
   3   -0.050638
1  0    1.343100
   1    1.399529
   2    0.273642
   3    1.298270
2  0   -0.181969
   1    1.006689
   2   -0.126028
   3    1.153766
3  0    0.701368
   1   -0.771176
   2    0.291520
   3    1.583044
dtype: float64

In [50]:
#Time Series and categorical
##Padas has simple,power full and efficient functionality for performing operations during frequency conversion.
dates =pd.date_range('20200301',periods = 100,freq='S')

C:\Users\sagar\AppData\Local\Temp\ipykernel_18172\2077044441.py:3: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  dates =pd.date_range('20200301',periods = 100,freq='S')

In [51]:
dates

DatetimeIndex(['2020-03-01 00:00:00', '2020-03-01 00:00:01',
               '2020-03-01 00:00:02', '2020-03-01 00:00:03',
               '2020-03-01 00:00:04', '2020-03-01 00:00:05',
               '2020-03-01 00:00:06', '2020-03-01 00:00:07',
               '2020-03-01 00:00:08', '2020-03-01 00:00:09',
               '2020-03-01 00:00:10', '2020-03-01 00:00:11',
               '2020-03-01 00:00:12', '2020-03-01 00:00:13',
               '2020-03-01 00:00:14', '2020-03-01 00:00:15',
               '2020-03-01 00:00:16', '2020-03-01 00:00:17',
               '2020-03-01 00:00:18', '2020-03-01 00:00:19',
               '2020-03-01 00:00:20', '2020-03-01 00:00:21',
               '2020-03-01 00:00:22', '2020-03-01 00:00:23',
               '2020-03-01 00:00:24', '2020-03-01 00:00:25',
               '2020-03-01 00:00:26', '2020-03-01 00:00:27',
               '2020-03-01 00:00:28', '2020-03-01 00:00:29',
               '2020-03-01 00:00:30', '2020-03-01 00:00:31',
               '2020-03-01 00:00:32', '2020-03-01 00:00:33',
               '2020-03-01 00:00:34', '2020-03-01 00:00:35',
               '2020-03-01 00:00:36', '2020-03-01 00:00:37',
               '2020-03-01 00:00:38', '2020-03-01 00:00:39',
               '2020-03-01 00:00:40', '2020-03-01 00:00:41',
               '2020-03-01 00:00:42', '2020-03-01 00:00:43',
               '2020-03-01 00:00:44', '2020-03-01 00:00:45',
               '2020-03-01 00:00:46', '2020-03-01 00:00:47',
               '2020-03-01 00:00:48', '2020-03-01 00:00:49',
               '2020-03-01 00:00:50', '2020-03-01 00:00:51',
               '2020-03-01 00:00:52', '2020-03-01 00:00:53',
               '2020-03-01 00:00:54', '2020-03-01 00:00:55',
               '2020-03-01 00:00:56', '2020-03-01 00:00:57',
               '2020-03-01 00:00:58', '2020-03-01 00:00:59',
               '2020-03-01 00:01:00', '2020-03-01 00:01:01',
               '2020-03-01 00:01:02', '2020-03-01 00:01:03',
               '2020-03-01 00:01:04', '2020-03-01 00:01:05',
               '2020-03-01 00:01:06', '2020-03-01 00:01:07',
               '2020-03-01 00:01:08', '2020-03-01 00:01:09',
               '2020-03-01 00:01:10', '2020-03-01 00:01:11',
               '2020-03-01 00:01:12', '2020-03-01 00:01:13',
               '2020-03-01 00:01:14', '2020-03-01 00:01:15',
               '2020-03-01 00:01:16', '2020-03-01 00:01:17',
               '2020-03-01 00:01:18', '2020-03-01 00:01:19',
               '2020-03-01 00:01:20', '2020-03-01 00:01:21',
               '2020-03-01 00:01:22', '2020-03-01 00:01:23',
               '2020-03-01 00:01:24', '2020-03-01 00:01:25',
               '2020-03-01 00:01:26', '2020-03-01 00:01:27',
               '2020-03-01 00:01:28', '2020-03-01 00:01:29',
               '2020-03-01 00:01:30', '2020-03-01 00:01:31',
               '2020-03-01 00:01:32', '2020-03-01 00:01:33',
               '2020-03-01 00:01:34', '2020-03-01 00:01:35',
               '2020-03-01 00:01:36', '2020-03-01 00:01:37',
               '2020-03-01 00:01:38', '2020-03-01 00:01:39'],
              dtype='datetime64[ns]', freq='s')

In [52]:
ts =pd.Series(np.random.randint(0,500,len(dates)),dates)

In [53]:
ts

2020-03-01 00:00:00    253
2020-03-01 00:00:01     96
2020-03-01 00:00:02    351
2020-03-01 00:00:03    323
2020-03-01 00:00:04     74
                      ...
2020-03-01 00:01:35    180
2020-03-01 00:01:36     40
2020-03-01 00:01:37    319
2020-03-01 00:01:38    424
2020-03-01 00:01:39    249
Freq: s, Length: 100, dtype: int32